#PaytableContent
{
	background: #6fa30f;
	
	/*padding: 0 112px 0 112px;*/
	padding: 0 116px 0 116px;

	overflow: overlay;
}

#PaytableContent .title
{
	background-image: url("BaseSlotEngine/games/ASJSlot/paytable/title.png");
	width: 804px;
	height: 84px;
	margin: 5px auto;
}
#PaytableContent .panel
{
	background: #f0c471;
	border: 5px solid #a2680f;
	width: 518px;
	border-radius: 11px;
	margin-bottom: 12px;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}
#PaytableContent .panel.even {
	float: right;
}
#PaytableContent .panel.half {
	width: 515px;
}
#PaytableContent .panel.leftWide {
	position: absolute;
	left: 0;
	width: 74%;
	height: 189px;
	z-index: 10;
}
#PaytableContent .panel.wild {
	height: 410px;
}
#PaytableContent .panel.scatter {
	background: #c6d325;
	height: 410px;
	position: relative;
}
#PaytableContent .panel.rightSmall {
	position: absolute;
	right: 0;
	width: 29%;
	height: 189px;
	z-index: 1;
	background: 	#752602;
	border-color: 	#cbd459;
}
#PaytableContent .panel .one
{
	width: 425px;
	margin: 0 auto;
}
#PaytableContent .panel .two
{
	width: 600px;
	margin: 0 auto;
}
#PaytableContent .panel.freespins
{
	background: #c6d325;
}
#PaytableContent .panel.freespins .singleImage
{
	margin: 10px 0 10px 50px;
}
#PaytableContent .panel.freespinsInfo {
	position: relative;
}
#PaytableContent .panel.freespinsInfo .singleImage {
	position: absolute;
	top: 0;
	left: 0;
}
#PaytableContent .panel.wildInfo {
	position: relative;
}
#PaytableContent .panel.wildInfo .singleImage {
	position: absolute;
	top: 20px;
}
#PaytableContent .panel.wildInfo .singleImage.scatterMid {
	right: 20px;
}
#PaytableContent .panel.wildInfo .singleImage.wildMid {
	left: 20px;
}
#PaytableContent .smallPanel
{
	background: #4a5d9f;
	border-top: 5px solid #6c1a03;
	border-left: 5px solid #6c1a03;
	border-radius: 0 0 5px 0;
	width: 386px;
	height: 62px;
	position: absolute;
	bottom: 0;
	right: 0;
}
#PaytableContent .twoBoxesContainer
{
	position: relative;
	width: 100%;
	height: 200px;
	float: left;
	margin-bottom: 15px;
}
#PaytableContent .panel.fullSize
{
	width: 100%;
	overflow: hidden;
	padding: 5px 10px;
}
#PaytableContent .singleImage
{
	background-image: url("BaseSlotEngine/games/ASJSlot/paytable/sprite.jpg");
	float: left;
	width: 175px;
	height: 175px;
	margin: 0 10px;
}
#PaytableContent .singleImage.leftCornerImage
{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 0;
}
#PaytableContent .singleImage.centerImage
{
	float: none;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
#PaytableContent .singleImage.leftImage
{
	margin-left: 10px;
}
#PaytableContent .arrowImage
{
	background-image: url("BaseSlotEngine/games/ASJSlot/paytable/arrow.png");
	width: 296px;
	height: 101px;
	position: absolute;
	bottom: -100px;
	left: -63px;
}

#PaytableContent .singleImage.scatter {		background-position: -525px -175px; }	/* 10 */
#PaytableContent .singleImage.wild {		background-position: -700px -175px; }	/* 9 */
#PaytableContent .singleImage.womanBlond {	background-position: -350px -175px; }	/* 8 */
#PaytableContent .singleImage.womanBlack {	background-position: -175px -175px; }	/* 7 */
#PaytableContent .singleImage.womanRed {	background-position: 0px -175px; }		/* 6 */
#PaytableContent .singleImage.womanBrown {	background-position: -875px 0px; }		/* 5 */
#PaytableContent .singleImage.tiger {		background-position: -700px 0px; }		/* 4 */
#PaytableContent .singleImage.A {			background-position: -525px 0px; }		/* 3 */
#PaytableContent .singleImage.K {			background-position: -350px 0px; }		/* 2 */
#PaytableContent .singleImage.Q {			background-position: -175px 0px; }		/* 1 */
#PaytableContent .singleImage.J {			background-position: 0px 0px; }			/* 0 */

#PaytableContent .singleImage.reelSet {		background-position: -677px -350px; width: 280px; height: 156px; }
#PaytableContent .singleImage.jackpot {		background-position: 0px -350px; width: 562px; height: 65px; }
#PaytableContent .singleImage.lines {		background-position: 0px -506px; 	width: 920px; height: 308px; }

#PaytableContent .singleImage.scatter.mid 		{ transform: scale(0.8, 0.8); -webkit-transform: scale(0.8, 0.8); -moz-transform: scale(0.8, 0.8); }
#PaytableContent .singleImage.scatter.small 	{ transform: scale(0.4, 0.4); -webkit-transform: scale(0.4, 0.4); -moz-transform: scale(0.4, 0.4); }

#PaytableContent .singleImage.scatter.small.ro{
	margin-left: 35px;
    margin-top: -1px;
}
#PaytableContent .singleImage.scatter.small.es{
	margin-left: 54px;
    margin-top: -12px;
}
.wildSpecialText {
	position: relative;
	padding-top: 10px;
}
.wildSpecialText p {
	color: #f33601;
	font: bold 30px arial, sans-serif;
	line-height: 45px;
}

.wildSpecialText.ro p {
    font: bold 29px arial, sans-serif;
    line-height: 40px;
}

.wildSpecialText .singleImage {
	position: absolute;
	left: 270px;
	top: 35px;
}
.wildSpecialText .singleImage.bg {
	left: 325px;
}
.wildSpecialText .singleImage.nl {
	left: 360px;
}
#PaytableContent .singleImage.smallImage
{
	margin-top: 0px;
	display: inline-block;
	float: none;
}
#PaytableContent .singleImage.smallImage.scatter
{
	background-position: -104px -147px;
	width: 52.5px;
	height: 52.5px;
	background-size: 293px,207px;
	margin-left: 20px;
}
#PaytableContent .singleImage.jackpotTitle
{
	background-position: -262px -80px;
	width: 608px;
	height: 64px;
	float: none;
	margin: 10px auto 20px auto;
}

#PaytableContent .linesContainer
{
	float: left;
	width: 257px;
	height: 100%;
}
#PaytableContent .panel.rightSmall .paytableLinesContainer {
	padding-left: 25px;
	float: left;
	width: 175px;
}
#PaytableContent .panel.scatter .paytableLinesContainer {
	margin-left: 115px;
}
#PaytableContent .panel.rightSmall .singleImage {
	float: right;
	margin: 50px 8px 50px 0;
}
#PaytableContent .paytableLine
{
	overflow: hidden;
	height: 40px;
	margin-bottom: 0px;
}
#PaytableContent .smallPanel .paytableLine
{
	margin-top: 10px;
}
#PaytableContent .paytableLine.scatter
{
	margin-bottom: 16px;
}
/*#PaytableContent .paytableLine.iOS
{
	height: 46px;
	margin-bottom: -2px;
}*/
#PaytableContent .smallPanel.iOS
{
	width: 386.5px;
}
#PaytableContent .smallPanel.Android
{
	width: 386px;
}
#PaytableContent .textLine
{
	font: bold 32px arial,sans-serif;
	color: #17edee;
	text-align: center;
	text-shadow: 0px 1px 5px #000000;
}
#PaytableContent .textLine.lineBullet
{
	line-height: 40px;
	color: #228e03;
	float: left;
	margin-left: 10px;
}
#PaytableContent .paytableLinesContainer {
	padding-top: 30px;
}
#PaytableContent .paytableLinesContainer.wild {
	padding-top: 15px;
}
#PaytableContent .paytableLinesContainer.four {
	padding-top: 10px;
}
#PaytableContent .textLine.lineContent
{
	color: #fff;
	line-height: 40px;
	overflow: hidden;
	text-shadow: 0px 2px 5px #000000;
}
#PaytableContent .panel.rightSmall .textLine.lineContent {
	color: #ffde00;
}
#PaytableContent .textLine.lineContent.wild
{
	color: #f9a810;
}
#PaytableContent .currency
{
	font-size: 50%;
}
#PaytableContent .textLine.lineContent.iOS
{
	margin-top: 5px;
}
#PaytableContent .textLine.reward
{
	color: #fff;
	font-size: 22px;
	margin-left: 10px;
}
#PaytableContent .jackpotGambleCurrency
{
	font-size: 50%;
	margin-left: 0px;
	top: 0px;
}
#PaytableContent .textLine.scatterText
{
	font-size: 46px;
	width: 100%;
	text-shadow: 3px 3px 1px #000000;
}
#PaytableContent .paytableText
{
	font: 20px arial,sans-serif;
	color: #f33601;
	text-align: center;
	line-height: 31px;
}
#PaytableContent .panel.freespins .paytableText
{
	color: #f33601;
	margin-top: 65px;
	margin-left: 5px;
	font: bold 30px arial,sans-serif;
	padding: 10px 20px;
}
#PaytableContent .paytableText.exceptText 
{ 
	display: inline-block; 
	position: relative;
	top: -12px;
}

#PaytableContent .specialContainer
{
	display: table;
	margin: 0 auto;
}

#PaytableContent .paytableText.freespins
{
	width: 856px;
	font-size: 30px;
	line-height: 47px;
	box-sizing: border-box;
	margin-bottom: 6px;
	margin-left: 101px;
}
#PaytableContent .paytableText.blue
{
	color: #1fabff;
	margin-left: 0px;
	padding: 0 0;
	font-weight: bold;
}
#PaytableContent .paytableText.yellow
{
	color: #ffae00;
	margin-left: 0px;
	padding: 0 0;
	font-weight: bold;
}
#PaytableContent .paytableText.wild
{
	width: 928px;
	font-size: 30px;
	line-height: 47px;
	box-sizing: border-box;
	margin-bottom: 6px;
	margin-left: 56px;
}
#PaytableContent .paytableText.wild.blue
{
	color: #17edee;
	margin-left: 0px;
}

#PaytableContent .jackpotLabel { color: #f0de2e; font-weight: bold; }
#PaytableContent .cardsLabel { color: #cf3838; font-weight: bold; }
#PaytableContent .qBets
{
	position: relative;
	left: -70px;
}
#PaytableContent .gambleFirstLine
{
	position: relative;
	left: -40px;
}
#PaytableContent .sectionTitle
{
	font: bold 40px arial,sans-serif;
	color: #2b8bb3;
	text-align: center;
}
#PaytableContent .panel.wild .sectionTitle
{
	padding: 10px 0 0 0;
	font-size: 30px;
}
#PaytableContent .panel.scatter .sectionTitle
{
	padding: 10px 0 0 0;
	font-size: 30px;
}
.oneLineText {
	clear: both;
	width: 100%;
	text-align: center;
}
.oneLineImage {
	float: none !important;
	margin: 0 auto !important;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase{
	text-transform: lowercase;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}

.bold {
	font-weight: bold !important;
}

.big {
	font-size: 24px;
}

.blue {
	color: #3143e4;
}

.green {
	color: #228e03;
}

.orange {
	color: #f15508;
}

.yellow {
	color: #fcff00;
}

table {
	width: 80%;
	margin: 20px auto;
	background: #d6ab4c;
	color: #3143e4;
	border: 3px solid #633100;
	border-radius: 10px;
	border-spacing: 0;
}
td {
	width: 50%;
	border-bottom: 2px solid #633100;
	border-right: 2px solid #633100;
}
.last td {
	border-bottom: 0;
}
tr.head {
	color: #f33601;
}
td.right {
	border-right: 0;
}