#Game.slot.ASJSlot .gameViewport { background: url('BaseSlotEngine/games/ASJSlot/images/background.jpg?v=1.5.0.r|23-07-2019|08:23:48') top center; }
#Game.slot.ASJSlot .backgroundOverlay { background-image: url('BaseSlotEngine/games/ASJSlot/images/backgroundOverlay.png?v=1.5.0.r|23-07-2019|08:23:48');  }
#Game.slot.ASJSlot .gameTitle { background-image: url('BaseSlotEngine/games/ASJSlot/images/gameTitle.png?v=1.5.0.r|23-07-2019|08:23:48'); }
#Game.slot.ASJSlot .gameTitle.noJackpot { background-image: url('BaseSlotEngine/games/ASJSlot/images/gameTitleNoJackpot.png?v=1.5.0.r|23-07-2019|08:23:48'); }
#Game.slot.ASJSlot .topGameTitle { background-image: url('BaseSlotEngine/games/ASJSlot/images/topGameTitle.png?v=1.5.0.r|23-07-2019|08:23:48'); }
#Game.slot.ASJSlot .denomButton { background-image: url("BaseSlotEngine/games/ASJSlot/images/denominationButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.ASJSlot .autoplayButton { background-image: url("BaseSlotEngine/games/ASJSlot/images/autoSoundButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.ASJSlot .soundButton { background-image: url("BaseSlotEngine/games/ASJSlot/images/autoSoundButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.ASJSlot .betButton { background-image: url("BaseSlotEngine/games/ASJSlot/images/betButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.ASJSlot .icons{		background-image: url("BaseSlotEngine/games/ASJSlot/images/settingsInfo.png?v=1.5.0.r|23-07-2019|08:23:48");}
#Game.slot.ASJSlot .iconsImage{	background-image: url("BaseSlotEngine/games/ASJSlot/images/settingsInfo.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.ASJSlot .jackpotBoxes { background-image: url('BaseSlotEngine/games/ASJSlot/images/backgroundOverlay.png?v=1.5.0.r|23-07-2019|08:23:48'); }
#Game.slot.ASJSlot .jackpotContentView 
{ 
	border-color: #f5e937; 
	background: -webkit-linear-gradient(black, #095904);
	background: -o-linear-gradient(black, #095904);
	background: -moz-linear-gradient(black, #095904);
	background: linear-gradient(black, #095904);
}
#Game.slot.ASJSlot .bottomUIContainer { background-image: url('BaseSlotEngine/games/ASJSlot/images/backgroundOverlay.png?v=1.5.0.r|23-07-2019|08:23:48'); }
#Game.slot.ASJSlot .gambleContainer { border-color: #f5e937; }
#Game.slot.ASJSlot .settingsView { background-image: url("BaseSlotEngine/games/ASJSlot/images/background.jpg?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.ASJSlot .settingsPaytableCloseButton { background-image: url("BaseSlotEngine/games/ASJSlot/images/settingsPaytableCloseButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.ASJSlot .settingsPaytableCloseButtonArrow { background-image: url("BaseSlotEngine/games/ASJSlot/images/settingsPaytableCloseButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.ASJSlot .settingsPaytableCloseButtonArrowHighlight { background-image: url("BaseSlotEngine/games/ASJSlot/images/settingsPaytableCloseButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.ASJSlot .paytableFromSettingsButton { background-image: url("BaseSlotEngine/games/ASJSlot/images/settingsPaytableCloseButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.ASJSlot .settingsFromPaytableButton { background-image: url("BaseSlotEngine/games/ASJSlot/images/settingsPaytableCloseButton.png?v=1.5.0.r|23-07-2019|08:23:48"); }
#Game.slot.ASJSlot .textField.lines
{
	color: #ffffff;
	text-shadow: 0px 0px 6px #303030, 0px 0px 6px #303030, 0px 0px 6px #303030, 0px 0px 6px #303030, 0px 0px 6px #303030, 0px 0px 6px #303030, 0px 0px 6px #303030;
}
#Game.slot.ASJSlot .textField.lines.active
{
	color: #ffff00;
	text-shadow: 0px 0px 6px #bf0000, 0px 0px 6px #bf0000, 0px 0px 6px #bf0000, 0px 0px 6px #bf0000, 0px 0px 6px #bf0000, 0px 0px 6px #bf0000, 0px 0px 6px #bf0000;
}
#Game.slot.ASJSlot .gameNumberTime { color: #bcba1b; }
#Game.slot.ASJSlot .textField.totals { color: #bcba1b; }
#Game.slot.ASJSlot .textField.totals.jackpot { color: #bcba1b; }
